@media only screen and (max-width: 768px) {
	body {
		overflow: hidden;
		touch-action: manipulation;
	}
	.user-dim .user-layer .sns-login .sns-btns button {
		width: 70px;
		height: 50px;
	}
	.wrap .top .logo{
		margin-left: 10px;
	}
	.wrap>.main {
		display: flex;
		width: 100%;
		justify-content: center;
		height: calc(100vh - 140px);
	}
}