.wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.wrap>.top {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #a8a6a6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap>.main {
	display: flex;
	width: 100%;
	justify-content: center;
}

.wrap>.main .container {
	display: flex;
	flex-direction: column;
	width: 1000px;
	justify-content: center;
}

.dim {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.58);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dim .image-layer {
	display: none;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	cursor: auto;
	position: relative;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.dim .image-layer .image {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.dim .image-layer .image img {
	width: auto;
	max-width: 100%;
	max-height: 90vh;
}

.dim .image-layer .title {
	width: 100%;
	height: 7%;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	align-content: center;
	font-weight: 700;
}

.dim .image-layer .btns button {
	position: absolute;
	top: 0;
	height: 100%;
	min-width: 140px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: transparent;
	font-size: 2.5rem;
	display: none;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.dim .image-layer .btns .left {
	text-align: left;
	left: 0;
	padding-left: 40px;
}

.dim .image-layer .btns .left:hover {
	color: #696969;
	background: linear-gradient(to right, rgba(60, 60, 60, 0.2), transparent);
}

.dim .image-layer .btns .right {
	right: 0;
	text-align: right;
	padding-right: 40px;
}

.dim .image-layer .btns .right:hover {
	color: #696969;
	background: linear-gradient(-90deg, rgba(60, 60, 60, 0.2), transparent);
}

.dim .loading-layer {
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 100px;
	background: #fffffff2;
	display: flex;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
}

.dim .loading-layer img {
	width: 60px;
	height: 60px;
}

.map {
	display: flex;
	width: 100%;
	height: 700px;
}

.map #relocate {
	position: absolute;
	bottom: 50px;
	left: 50%;
	z-index: 2;
	padding: 10px 15px;
	background: #0069ec;
	color: #fff;
	border-radius: 30px;
	font-weight: 600;
	cursor: pointer;
	transform: translate(-50%, -50%);
	height: 22px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
	display: none;
	align-items: center;
	justify-content: space-between;
}

.map #relocate:hover {
	background: #015bcb;
}

.hover-overlay {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
	white-space: nowrap;
	z-index: 2;
	min-width: 80px;
	display: flex;
	justify-content: space-evenly;
	top: -34px;
	left: 20px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.custom-overlay>.top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 5px;
}

.custom-overlay .top .title .main-title {
	font-size: 1.2rem;
}

.custom-overlay .top .title .sub-title {
	font-size: .8rem;
	color: #adadad;
}

.custom-overlay .top .close-btn {
	cursor: pointer
}

.custom-overlay .content {
	font-size: .9rem;
	width: 100%;
}

.custom-overlay .content .image-list {
	display: flex;
	width: 100%;
	height: 130px;
}

.custom-overlay .content .image-list .image-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.custom-overlay .content .image-list .image-container.second {
	flex-direction: column;
}

.custom-overlay .content .image-list .image-container.second .row {
	display: flex;
	height: 50%;
	width: 100%;
	position: relative;
}

.custom-overlay .content .image-list .image-container.second .row .more-images{	
	position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000075;
    font-weight: 600;
    pointer-events: none;
}

.custom-overlay .content .image-list .image-container.second.two-img .row {
	height: 100%;
}

.custom-overlay .content .image-list .image-container .image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.custom-overlay .content .image-list .image-container .image img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.2s linear;
}

.custom-overlay .content .image-list .image-container .image img:hover {
	filter: brightness(80%);
	transform: scale(1.1);
}

.custom-overlay .content .image-list .image-container .images{
	display: none;
}

.custom-overlay .content .addr-container {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.custom-overlay .content .addr-container .icon {
	width: 20px;
}

.custom-overlay .content .opentime-container {
	display: flex;
	width: 100%;
	margin-top: 5px;
}

.custom-overlay .content .opentime-container .icon {
	width: 20px;
}

.custom-overlay .content .opentime-container .cont .status.yet {
	color: #a0a0a0;
}

.custom-overlay .content .opentime-container .cont .status.operating {
	color: #37f845
}

.custom-overlay .content .opentime-container .cont .status.deadline {
	color: #ffb553;
}

.custom-overlay .content .tel-container {
	display: flex;
	width: 100%;
	margin-top: 5px;
}

.custom-overlay .content .tel-container .icon {
	width: 20px;
}

.custom-overlay .comment-title {
	margin: 5px 0;
	display: flex;
	align-items: center;
}

.custom-overlay .comment-title .rate-container {
	display: flex;
	margin-left: 5px;
	width: 115px;
	justify-content: space-between;
}

.custom-overlay .comment-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	max-height: 150px;
	overflow-y: auto;
	margin-top: 5px;
}

.custom-overlay .comment-container::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: transparent;
}

.custom-overlay .comment-container::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 2px;
}

.custom-overlay .comment-container::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

.custom-overlay .comment-container .list {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #a5a5a5;
}

.custom-overlay .comment-container .list:first-child {
	padding-bottom: 5px;
}

.custom-overlay .comment-container .list:not(:first-child) {
	padding: 5px 0;
}

.custom-overlay .comment-container .list .image {
	width: 20%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1%;
}

.custom-overlay .comment-container .list .image img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.2s linear;
}
.custom-overlay .comment-container .list .image img:hover{
	filter: brightness(80%);
	transform: scale(1.1);
}

.custom-overlay .comment-container .list .cont-container {
	width: 75%;
	overflow: hidden;
}

.custom-overlay .comment-container .list .cont-container .top {
	display: flex;
	justify-content: space-between;
}

.custom-overlay .comment-container .list .cont-container .top .nickname
	{
	margin-left: 5px;
}

.custom-overlay .comment-container .list .cont-container .top .rating {
	color: #ffb553;
	font-weight: 600;
}

.custom-overlay .comment-container .list .cont-container .cont {
	margin-left: 5px;
	position: relative;
	overflow: hidden;
	height: 35px;
}

.custom-overlay .comment-container .list .cont-container .cont.more {
	overflow: unset;
	height: max-content;
}

.custom-overlay .comment-container .list .cont-container .cont .fade-out
	{
	display: none;
}

.custom-overlay .comment-container .list .cont-container .cont .fade-out.show
	{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 31%;
	height: .8rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: linear-gradient(to left, #2f334a 75%, rgba(255, 255, 255, 0));
	padding-bottom: 3px;
}

.custom-overlay .comment-container .list .cont-container .cont .fade-out .more-btn
	{
	background: #2f334a;
	color: #fff;
	border: none;
	font-weight: bold;
	padding: 0;
	cursor: pointer;
}

.custom-overlay {
	position: absolute;
	color: #fff;
	top: -45px;
	left: -350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2f334a;
	border-radius: 5px;
	padding: 8px;
	width: 300px;
	max-height: 420px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-overlay::after {
	content: '';
	position: absolute;
	top: 8px;
	right: -28px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid #2f334a;
}

.custom-overlay .imgWrapper {
	width: 48px;
	height: 48px;
	overflow: hidden;
}

.custom-overlay .imgWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.custom-overlay .label {
	font-size: 12px;
	font-weight: bold;
	margin-top: 3px;
}